<footer class="footer font-small bg-light" local-class="footer"> {{!-- fixed-bottom --}}
	<div class="container text-center">
		<span>&copy; 2019 {{#link-to "index"}}NULLify Computer Security Group{{/link-to}}</span><br>
		<span class="text-muted">
			<font size="1">This web site and its content is not endorsed by or maintained by the University of Nebraska
				System or
				any of its affiliate institutions or subsidiaries. The names “University of Nebraska” and as well as
				related names,
				marks, emblems and images are registered trademarks of their associated entities.</font>
		</span>
	</div>
</footer>

{{yield}}