{{!-- Skip Link because I'm extra --}}
<a local-class="skip-main" href="#content">Skip to main content</a>

<BsNavbar class="navbar navbar-expand-lg navbar-light bg-light" as |navbar|>
	<div class="container">
		{{!--  Show this only on mobile to medium screens  --}}
		<div class="d-flex flex-row justify-content-between w-100 d-lg-none">
			{{#if session.isAuthenticated}}
				{{#link-to "admin.index" class="navbar-brand d-lg-none d-inline-flex slide-in-from-top"}}
					<img src="/assets/images/nullify_banner.svg" alt="Nullify Banner" width="50%">
				{{/link-to}}
			{{else}}
				{{#link-to "index" class="navbar-brand d-lg-none d-inline-flex slide-in-from-top"}}
					<img src="/assets/images/nullify_banner.svg" alt="Nullify Banner" width="50%">
				{{/link-to}}
			{{/if}}
			<navbar.toggle class="slide-in-from-right" />
		</div>

		<navbar.content class="justify-content-between">
			<navbar.nav class="d-flex flex-row justify-content-center slide-in-from-left" as |nav|>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="index">Home</nav.linkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="about">About</nav.linkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="calendar">Calendar</nav.linkTo>
				</nav.item>
				{{!-- <nav.item>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</nav.item> --}}
			</navbar.nav>

			{{!--  Show this only on large and up screens  --}}
			{{#if session.isAuthenticated}}
				{{#link-to "admin.index" class="navbar-brand d-none d-lg-block text-center mx-auto"}}
					<img src="/assets/images/nullify_banner.svg" class="img-fluid slide-in-from-top" alt="Nullify Banner" width="60%">
				{{/link-to}}
			{{else}}
				{{#link-to "index" class="navbar-brand d-none d-lg-block text-center mx-auto"}}
					<img src="/assets/images/nullify_banner.svg" class="img-fluid slide-in-from-top" alt="Nullify Banner" width="60%">
				{{/link-to}}
			{{/if}}

			<navbar.nav class="d-flex flex-row justify-content-center slide-in-from-right" as |nav|>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="contact">Contact Us</nav.linkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="resources">Resources</nav.linkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="hsctf">HSCTF</nav.linkTo>
				</nav.item>
				<nav.item class="mx-2 mx-lg-0">
					<nav.linkTo @route="sponsors">Sponsors</nav.linkTo>
				</nav.item>
			</navbar.nav>
		</navbar.content>
	</div>
</BsNavbar>
{{yield}}
