<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container"> 
		{{!--  Show this only on mobile to medium screens  --}}
		{{#link-to "index" class="navbar-brand d-lg-none"}}
			<img src="/assets/images/nullify_banner.svg" alt="Nullify Banner" width="50%">
		{{/link-to}}

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
			aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		{{!--  Use flexbox utility classes to change how the child elements are justified  --}}
		<div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

			<ul class="navbar-nav slide-in-from-left">
				<li class="nav-item">
					{{#link-to "index" class="nav-link"}}Home{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "about" class="nav-link"}}About{{/link-to}}
				</li>
				{{!-- <li class="nav-item">
					{{#link-to "sponsors" class="nav-link"}}Sponsors{{/link-to}}
				</li> --}}
				<li class="nav-item">
					{{#link-to "calendar" class="nav-link"}}Calendar{{/link-to}}
				</li>
			</ul>


			{{#if session.isAuthenticated}}
				{{#link-to "admin.index" class="navbar-brand s-none d-lg-block text-center mx-auto"}}
					<img src="/assets/images/nullify_banner.svg" class="img-fluid slide-in-from-top" alt="Nullify Banner" width="60%">
				{{/link-to}}
			{{else}}
				{{#link-to "index" class="navbar-brand s-none d-lg-block text-center mx-auto"}}
					<img src="/assets/images/nullify_banner.svg" class="img-fluid slide-in-from-top" alt="Nullify Banner" width="60%">
				{{/link-to}}
			{{/if}}
			{{!--   Show this only lg screens and up   --}}
			
				
				
			



			<ul class="navbar-nav slide-in-from-right">
				<li class="nav-item">
					{{#link-to "contact" class="nav-link"}}Contact Us{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "resources" class="nav-link"}}Resources{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "hsctf" class="nav-link"}}HSCTF{{/link-to}}
				</li>
			</ul>
		</div>
	</div>
</nav>
{{yield}}