<div class="p-50">
	<h3 class="display-4">Join the NULLify Email List!</h3>
	<h5 class="text-muted">Enter your email below to hear about what we will be going over in our weekly meetings, announcements for special speakers, etc.</h5>
	<input type="email" >
	<button class="btn btn-primary">Subscribe</button>
</div>
{{yield}}