.code > pre {
	margin-bottom: 0;
}

.button {
	position: absolute;
	top: 0;
	right: 0;
}

.info-button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}

.alt-text {
	margin-top: 1rem;
}