.logo-text {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}

.contact-card {
	padding: 20px; 
}

.mail-list {
	width: 75%;
}

// Styling for the map component
:global(.ember-google-map) {
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
}

.map-wrapper{
	height: 100%;
}

.map-wrapper > div > div > div > iframe {
  background-color: #212121;
}