@font-face {
  font-family: 'Stencil Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Stencil Regular'), url('/assets/fonts/STENCIL.woff') format('woff');
}

.courier {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-style: normal;
	font-variant: normal;
	color: #000000;
	// font-weight: 700;
	// line-height: 26.4px;
}

.stencil {
	font-family: 'Stencil Regular';
}

.background {
	background-image: url("/assets/images/wood.jpg");
	background-position: center;
	background-size: cover;
}

@media (min-width: 768px) {
	.paper {
		background-image: url("/assets/images/paper.png");
		background-color: #FFFFEE;
		background-position: right top;
		background-size: cover;
	}
}

@media (max-width: 767px) {
  	.paper {
		background-image: url("/assets/images/paper-plain.png");
		background-color: #FFFFEE;
		background-position: right top;
		background-size: cover;
	}
}

.hr {
  background-color: #000000;
  border: 1px solid black;
  border-radius: 7px 7px 7px 7px;
}

.black {
	color: #000000 !important;
}

.confidential {
	color: #000000 !important;
	background-color: #000000 !important;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	word-wrap: break-word;
}

.input-group-header{
	background: rgba(0, 0, 0, 0) !important;
	border: none !important;
	border-bottom: 1px solid #000000 !important;
	border-radius: 0px !important;
}

.input-group-field {
	background: rgba(0, 0, 0, 0) !important;
	border: none !important;
	border-bottom: 1px solid #000000 !important;
	border-radius: 0px !important;
	color: #000000 !important;
}

.submit-button {
	background: rgba(0, 0, 0, 0) !important;
	border: 1px solid #000000 !important;
	border-radius: 0px !important;
	color: #000000 !important;
}

.submit-button:hover {
  background: rgba(0, 0, 0, 1) !important;
  border: 1px solid #000000 !important;
  border-radius: 0px !important;
  color: #FFFFFF !important;
}

.submit-button-green {
  background: #27963C !important;
  border: 1px solid #000000 !important;
  border-radius: 0px !important;
  color: #000000 !important;
}