.hide {
  display: none;
}

#matrix {
  background-color: #3e3e56;
  -webkit-animation: blur 10s infinite;
  animation: blur 10s infinite;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.card-link {
	color: inherit;
	text-decoration: none;
}

.has-search > input {
  padding-left: 2.375rem;
}

.has-search > span {
  position: absolute;
  z-index: 5;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search {
	border-radius: 0.25rem !important;
	// border-top-left-radius: 0.25rem !important;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  2% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  5% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  7% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  10% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  12% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  58% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  60% {
    -webkit-filter: url("#blur-vertical");
    filter: url("#blur-vertical");
  }

  62% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  65% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  67% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  69% {
    -webkit-filter: url("#blur-vertical");
    filter: url("#blur-vertical");
  }

  72% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }
}

@keyframes blur {
  0% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  2% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  5% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  7% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  10% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  12% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  58% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  60% {
    -webkit-filter: url("#blur-vertical");
    filter: url("#blur-vertical");
  }

  62% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  65% {
    -webkit-filter: url("#blur-horizontal");
    filter: url("#blur-horizontal");
  }

  67% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }

  69% {
    -webkit-filter: url("#blur-vertical");
    filter: url("#blur-vertical");
  }

  72% {
    -webkit-filter: url("#none");
    filter: url("#none");
  }
}