# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# Custom
.todo
.vscode/

# I don't wanna push admin stuff yet
app/components/admin/
app/controllers/admin/
app/routes/admin/
app/styles/admin/
app/styles/components/admin/
app/templates/admin/
app/templates/components/admin/
