<div class="card p-5 my-5 text-center align-items-center">
	<h3 class="display-5 text-center">Which would you like to contribute to?</h3>
	{{#link-to "contribute.resource-name" type="button" class="btn btn-primary m-4 p-3"}}<h5 class="display-5 mb-0">Resources</h5>{{/link-to}}
	{{#link-to "contribute.resource-name" type="button" class="btn btn-primary p-3" disabled="true"}}<h5 class="display-5 mb-0">Blog Post</h5>{{/link-to}}
</div>
{{liquid-outlet}}