<div class="container">
	<div class="row">
		<div class="col-md-12 text-center pt-5 fade-in">


				<img src="/assets/images/old-logo-background-removed.png" width="50%" alt="Old HSCTF Logo">


				<p></p>
				<h2 class="align-center">Thank you to all our sponsors!</h2>
									
				<div class="align-center" local-class="mt-50">
					<img src="/assets/images/sponsors/fcsa.svg" alt="Farm Credit Services of America" width="35%" height="35%" local-class="mr-50">
					<img src="/assets/images/sponsors/nsf.png" alt="National Science Foundation: NSF" width="28%" height="28%" local-class="ml-50">
				</div>

				<div class="align-center" local-class="mt-50">
					<img src="/assets/images/sponsors/nari.png" alt="Nebraska Applied Research Institute" width="40%">
					<img src="/assets/images/sponsors/northrop.svg" alt="Northrop Grumman" width="40%" local-class="ml-50">
				</div>

				<p class="align-center" local-class="more-info">
					For more information on becoming a sponsor, please email 
					<a href="mailto:vanessa.denney@nufoundation.org">Vanessa Denney</a>, or call 
					<a href="tel:402-502-4132">402.502.4132</a>.
					<br>
					Your donation may be tax deductible. Please consult with your financial advisor to verify.
				</p>


		

		{{liquid-outlet}}
	</div>
</div>
</div>