<div class="container">
	<div class="row">
		<div class="col-md-12 text-center pt-md-5 pt-3 fade-in">

				<img src="/assets/images/hsctf-logo.png" width="50%" alt="HSCTF Logo" class="mb-3">
				<h2 class="align-center">Thank you to our sponsors!</h2>
									
				<div class="align-center mt-3">
					{{!-- <img src="/assets/images/sponsors/conagra-logo.png" alt="Conagra Brands" width="35%" height="35%" class="mr-2 mr-md-5"> --}}
					<img src="/assets/images/sponsors/nsf.png" alt="National Science Foundation: NSF" width="28%" height="28%" class="ml-2 ml-md-5">
				</div>

				<p class="align-center pt-md-5 pt-3">IS&amp;T’s Nullify Computer Security Group invites you to participate in the fast-paced, exciting
					competition that will take your cybersecurity skills to the next level. Capture the Flag wouldn’t be possible
					without the support of private donors:</p>
				<h2 class="pt-3">Platinum – $10,000+ (1 available)</h2>
				<p>Top Sponsor with exclusive benefits:<br>&bull; Your logo is prominently on the event's website, at the top of each page
					on the scoreboard, and the advertisement website.<br>&bull; Your organization may include additional giveaways and
					company career information in "swag bags".</p>
				<h2 class="pt-3">Gold – $5,000 to $9,999</h2>
				<p>&bull; Your organization will be given an opportunity to attend UNO Information Assurance Student organizations and
					promote their company and career opportunities.<br>&bull; Your organization can create a challenge and have a
					reconnaissance challenge directing students to their website, or have a challenged named and themed after your
					organization.</p>
				<h2 class="pt-3">Silver – $2,500 to $4,999</h2>
				<p>&bull; Your organization will be highlighted in all media releases in addition to being given an opportunity to provide a
					quote highlighting their participation.<br>&bull; Your organization has the option to set up a table at event for
					product advertising, recruiting, and outreach.</p>
				<h2 class="pt-3">Bronze – $500 to $2,499</h2>
				<p>&bull; Your logo will be displayed on the event’s website and graciously t hanked for you support.<br>&bull; Your
					organization may send two employees to attend event on its behalf as ambassadors.</p>
				<h2 class="pt-3">Bonus</h2>
				<p>&bull; All partnership packages include the benefits of all levels below them.<br>&bull; 10% of all proceeds will be directed
					to NULLify Computer Security Group, UNO's cybersecurity competition and outreach student organization.<br>&bull; You
					will be listed as an official partner and provided an exclusive opportunity to speak to the organization member of
					behalf of the cybersecurity industry.<br></p>

				<p class="align-center mt-3 mt-md-5">
					For more information on becoming a sponsor, please email 
					<a href="mailto:vanessa.denney@nufoundation.org">Vanessa Denney</a>, or call 
					<a href="tel:402-502-4132">402.502.4132</a>.
					<br>
					Your donation may be tax deductible. Please consult with your financial advisor to verify.
				</p>

		{{liquid-outlet}}
	</div>
</div>
</div>